/* core , it includes reset and fonts*/
@import url("libraries.css");

/*template.css is for page level layout purpose*/
@import url("template/template.css");
/*@import url("template/template_debug.css");*/

/*grid is for horizontal partition */
@import url("grid/grids.css");
/*@import url("grid/grids_debug.css");*/

/*mod is for rectangle box style*/
@import url("module/mod.css");
@import url("module/mod_skins.css");
/*@import url("module/mod_debug.css");*/

/*media is for repeatable pattern, left is a image, right is text*/
@import url("media/media.css");
/*@import url("media/media_debug.css");*/




/*the following is all about content*/





/*content is for reusable element, such as body, img, em, strong, hr, link, code,
.important a,  a:lvha(link(unvisisted), visited, hover, active, ol.simpleList, cite, .callout,  )
*/
@import url("content.css");


/*heading is was part of content.css, not separated to a file, it control the heading's font and color
but the space of heading is not specified in this file, but in the space.css*/
@import url("heading/heading.css");

/*normal element's space, such as h1-h6, ul, ol, dl, p, blockquote, media,.., it also
include some helper classes, such as ptn, meaning padding top none,
p:padding, m:margine
a:all, t:top, r:right, b:bottom, l:left, h:horizontal, v:vertical
s:small, m:medium, l:large, n:none
*/
@import url("spacing/space.css");

@import url("table/table.css");
@import url("table/table_skins.css");
/*@import url("table/table_debug.css");*/
